html 
{   
	background-image:fixed;
	background-image: url("background.png");


}
img {
    max-width: 100%;
    height: auto;
    border-style:double;
	border-color:#686868;
	border-width:5px;
	position:center;
}
h2
{   
	color:#686868;
	border-style:double;
	border-color:black;
	border-width:5px;
	text-align:center;
    box-shadow:0px 10px 10px black;
    font-weight:bold; 
    border-radius:5px;
    background-color: #730000;
	text-align:center;
}

p
{   
	color:#686868;
	box-shadow:0px 10px 10px black;
	border-style:double;
	border-color:black;
	border-width:2px;
	background-color: #730000;
	font-family: impact;
	font-size:120%;
	text-align:center;
	border-radius:5px;


}
ul
{
    font-style:italic;
    color:white;
}
